@import "variables";
@import "mixins";

.excel__toolbar {
  position: absolute;
  right: 0;
  left: 0;
  top: $toolbar-height;
  height: $toolbar-height;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 4px 10px;
  display: flex;

  .button {
    @include button(green);
  }
}
